<div>
<h1 style="font-family: lucida, optima, serif; font-style: italic;">
  <span style="font-size: larger;">
    <img src="https://cdn.gomix.com/14f6beef-5945-4d61-951e-f3637bdfa755%2F1487532185_grid2.png">
    Idea Quadrants
  </span>
</h1>

</div>

<div class="panels">

<div class="panels">
<a href="/project/">
<div class="box">
  <h1>
    <img src="https://cdn.gomix.com/14f6beef-5945-4d61-951e-f3637bdfa755%2F1487532362_box.png">
    Projects
  </h1>
  <div>Browse All</div>
</div>
</a>
</div>

<div class="panels">
<a href="/subject/">
<div class="box">
  <h1>
    <img src="https://cdn.gomix.com/14f6beef-5945-4d61-951e-f3637bdfa755%2F1487547281_speech-bubble.png">
    Subjects
  </h1>
  <div>Browse All</div>
</div>
</a>
</div>

<div class="panels">
<a href="/rating/">
<div class="box">
  <h1>
    <img src="https://cdn.gomix.com/14f6beef-5945-4d61-951e-f3637bdfa755%2F1487532320_paper-clip.png">
    Ratings
  </h1>
  <div>Browse All</div>
</div>
</a>
</div>

</div>

